* {
  box-sizing: border-box;
}
:root {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: outfit;
  padding-top: 7rem;
}
img {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 1rem;
  margin: auto;
}

body {
  background-color: rgb(211, 211, 237);
  width: 25vw;
  height: 55vh;
  gap: 2rem;
  padding-top: 1rem;
  padding-left: 1rem;
  border-radius: 2rem;
  line-height: 30px;
}
.fullpage {
  background-color: #fff;
  padding: 3rem;
  border: 2px solid black;
  border-radius: 2rem;
}
h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(162, 162, 217);
}
.heading {
  font-size: 18px;
  color: rgb(161, 161, 232);
}
